* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url(content/fonts/Gilroy-Thin.ttf);
}

body {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.firstScreen {
    color: #FFFFFF;
    background: url(content/bgc.png), no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.firstScreen__wrapper {

}

.header {
    padding-top: 25px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 500px;
}

.header__menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.header__menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Gilroy;
}

.header__menu__item {
    margin-right: 40px;
    text-align: right;
}

.header__menu__item:last-child {
    margin-right: 0;
}

.header__menu__item:hover {
    text-decoration: underline;
}

.header__menu__item-icon {
    position: relative;
}

.header__menu__item-icon::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 18px;
    height: 18px;
}

.header__menu__item-search::after {
    left: -30px;
    display: block;
    width: 18px;
    height: 18px;
    background: url("content/icons/header/search.svg"), no-repeat;
}

.header__menu__item-icon-account {
    border-right: 29px;
}

.firstScreen__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.firstScreen__body__btn {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px 35px;
    border: 1px solid #FFFFFF;
    margin-bottom: 80px;
}

.firstScreen__body__btn:hover {
    text-decoration: underline;
}

.firstScreen__body__title {
    margin-bottom: 50px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}

.firstScreen__footer {
    border-top: 1px solid #FFFFFF;
}

.firstScreen__footer__brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.firstScreen__footer__brand-wrapper {
    display: flex;
    align-items: center;
    border-right: 1px solid #FFFFFF;
}

.firstScreen__footer__brand-wrapper:last-child {
    border: none;
}

.firstScreen__footer__brand-wrapper img {
    margin-right: 15px;
}

.secondScreen {

}

.secondScreen__subtitle {
    display: block;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 15px;

    color: #333333;
}

.secondScreen__title {
    display: block;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
}

.secondScreen__categories {
    margin-bottom: 120px;
}

.secondScreen__categories__buttons {
    margin-bottom: 55px;
}

.secondScreen__categories__btn {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 55px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    border: 1px solid #D6D6D6;
    background: #FFFFFF;
}

.secondScreen__categories__btn-active {
    background: #333333;
    color: #FFFFFF;
}

.secondScreen__categories__btn:hover {
    box-shadow: 0 0 5px;
}

.secondScreen__categories__btn:before {
    content: "";
    width: 165px;
    height: 55px;
    border: 1px solid #D6D6D6;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: -1;
}

.secondScreen__categories__btn-active:hover {
    text-decoration: none;
}

.secondScreen__categories__items {

}

.secondScreen__categories__item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 350px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.secondScreen__categories__item__title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.secondScreen__categories__items-first {
    margin-bottom: 30px;
}

.secondScreen__categories__item-rings {
    background-image: url("content/images/categories/rings.png");
}

.secondScreen__categories__item-earrings {
    background-image: url("content/images/categories/earrings.png");
}

.secondScreen__categories__item-pendants {
    background-image: url("content/images/categories/pendants.png");
}

.secondScreen__categories__item-cufflinks {
    background-image: url("content/images/categories/cufflinks.png");
}

.secondScreen__categories__item-bracelets {
    background-image: url("content/images/categories/bracelets.png");
}

.secondScreen__categories__item-clock {
    background-image: url("content/images/categories/clock.png");
}

.ourSalon {
    background-image: url("content/ourSalonBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.ourSalon__subtitle {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.ourSalon__title {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.ourSalon__text {
    width: 730px;
    height: 100px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.ourSalon__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 35px;
    width: 224px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #333333;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.ourSalon__btn__title {
    cursor: pointer;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
}

.ourSalon__btn:hover {
    text-decoration: underline;
}

.blog {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.blog__subtitle {
    display: block;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
}

.blog__title {
    display: block;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
}

.blog__items {
    margin-bottom: 60px;
}

.blog__item {
    width: 350px;
    height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 30px;
}

.blog__item__text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    padding: 35px 35px;
}

.blog__item:last-child {
    margin-right: 0;
}

.blog__item-first {
    background-image: url("content/images/blog/blogFirst.png");
}

.blog__item-second {
    background-image: url("content/images/blog/blogSecond.png");
}

.blog__item-third {
    background-image: url("content/images/blog/blogThird.png");
}

.blog__btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 35px;
    position: absolute;
    width: 255px;
    height: 51px;
    left: 832px;
    top: 3257px;
    background: #333333;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.blog__btn__title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
}

.blog__btn:hover {
    box-shadow: 0 0 5px;
}

.gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.gallery__subtitle {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
}

.gallery__title {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
}

.gallery__items {
    display: flex;
    flex-wrap: wrap;
}

.subscribe {
    background-image: url("content/ourSalonBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.subscribe__subtitle {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.subscribe__title {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.subscribe__body {
    display: flex;
}

.subscribe__list {
    margin-right: 80px;
}

.subscribe__list__item {
    list-style: none;
    background-image: url("content/listMarker.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.subscribe__list__item:last-child {
    margin-bottom: 0;
}

.subscribe__form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;;
    padding: 20px 22px;
    margin-bottom: 134px;
}

.subscribe__form__input {
    width: 200px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    margin-right: 15px;
    z-index: 1;
}

.subscribe__form__input::placeholder {
    /*font-family: Gilroy;*/
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.5);
}

.subscribe__form__btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 35px;
    width: 159px;
    height: 45px;
    background: #333333;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
    z-index: 1;
}

.subscribe__form:after {
    content: "";
    position: absolute;
    right: -11px;
    top: -14px;
    width: 460px;
    height: 113px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.footer {
    padding-top: 80px;
}

.footer__columns {
    align-items: flex-start;
    border-bottom: 1px solid #333333;
    padding-bottom: 60px;
    margin-bottom: 20px;
}

.footer__columns__item__title {
    display: block;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 1px solid #333333;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.footer__columns__links__list {
    list-style: none;
}

.footer__columns__links__list-item {
    margin-bottom: 15px;
}

.footer__columns__links__list-item a {
    text-decoration: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}

.footer__columns__payment__text {
    display: block;
    width: 255px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 21px;
}

.footer__columns__payment__icons {
    display: flex;
}

.footer__columns__payment__icon {
    width: 45px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
}

.footer__columns__payment__icon:last-child {
    margin-right: 0;
}

.footer__columns__payment__icon-visa {
    background-image: url("content/icons/footer/payment/visa.svg");
}

.footer__columns__payment__icon-mc {
    background-image: url("content/icons/footer/payment/mc.svg");
}

.footer__columns__contacts__list {
    list-style: none;
}

.footer__columns__contacts__list__item {
    position: relative;
    margin-bottom: 15px;
}

.footer__columns__contacts__list__item:last-child {
    margin-bottom: 0;
}

.footer__columns__contacts__list__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
}

.footer__columns__contacts__list__item-text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}

.footer__columns__contacts__list__item-phone:before {
    background-image: url("content/icons/footer/contacts/contactsPhone.svg");
}

.footer__columns__contacts__list__item-email:before {
    background-image: url("content/icons/footer/contacts/contactsMail.svg");
}

.footer__columns__socNet__text {
    display: block;
    width: 255px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 27px;
}

.footer__columns__socNet__icons {
    display: flex;
}

.footer__columns__socNet__icon {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: bottom;
    margin-right: 25px;
}

.footer__columns__socNet__icon:last-child {
    margin-right: 0;
}

.footer__columns__socNet__icon-youtube {
    background-image: url("content/icons/footer/socNet/youtube.svg");
}

.footer__columns__socNet__icon-vk {
    background-image: url("content/icons/footer/socNet/vk.svg");
}

.footer__columns__socNet__icon-fb {
    background-image: url("content/icons/footer/socNet/fb.svg");
}

.footer__columns__socNet__icon-tg {
    background-image: url("content/icons/footer/socNet/tg.svg");
}

.footer__columns__socNet__icon-e {
    background-image: url("content/icons/footer/socNet/e.svg");
}

.footer__bottom {
    margin-bottom: 20px;
}

.footer__bottom__item {
    text-decoration: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}

.footer__bottom__item-figma {
    text-decoration-line: underline;
}
